@use '../base/variables' as v;
@use '../base/mixins' as m;

.contenido-resumen{
    margin: 3rem 3rem;
    h3{
        margin-top: 3rem;
    }
}
.contenedor-info{
    padding: 3rem 3rem;

    span{
        color: v.$azul-mar;
        font-weight: v.$bold;
        font-size: 2.4rem;
    } 
}
.contenedor-servicio {
    border-bottom: 1px solid v.$gris;
    padding: 3rem 2rem;

    span{
        color: v.$azul-mar;
        font-weight: v.$bold;
        font-size: 2.4rem;
    } 
}